networks:
  chat-sam-app-net:
    driver: bridge

services:
  dynamodb-local:
    image: amazon/dynamodb-local:latest
    container_name: dynamodb-local
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ./data"
    ports:
      - "8000:8000"
    volumes:
      - "./docker/dynamodb:/home/dynamodblocal/data"
    working_dir: /home/dynamodblocal
    networks:
      - chat-sam-app-net

  add-table:
    image: amazon/aws-cli
    depends_on:
      - dynamodb-local
    entrypoint: ["/bin/sh", "/tmp/init-tables.sh"]
    environment:
      - AWS_ACCESS_KEY_ID=dummy
      - AWS_SECRET_ACCESS_KEY=dummy
    volumes:
      - "./docker/MessageTable.json:/tmp/MessageTable.json"
      - "./docker/SessionTable.json:/tmp/SessionTable.json"
      - "./docker/MessageCounterTable.json:/tmp/MessageCounterTable.json"
      - "./docker/CounterRangeTable.json:/tmp/CounterRangeTable.json"
      - "./docker/init-tables.sh:/tmp/init-tables.sh"
    networks:
      - chat-sam-app-net

  # minio:
  #   image: "minio/minio"
  #   restart: always
  #   ports:
  #     - ${MINIO_EXPOSE_API_PORT:-9000}:9000
  #     - ${MINIO_EXPOSE_CONSOLE_PORT:-9001}:9001
  #   command: ['server', '/data', '--console-address', ':9001']
  #   tmpfs:
  #     - /data
  #   healthcheck:
  #     test: ["CMD-SHELL", "curl -I http://localhost:9000/minio/health/live"]
  # init-minio:
  #   image: "minio/mc:RELEASE.2025-04-16T18-13-26Z"
  #   env_file: .env
  #   volumes:
  #     - ./init-minio.sh:/init-minio.sh
  #     - ./assets:/assets:cached
  #   entrypoint: /init-minio.sh
  #   depends_on:
  #     - minio