networks:
  dynamodb-net:
    driver: bridge
  minio-net:
    driver: bridge

services:
  dynamodb-local:
    image: amazon/dynamodb-local:latest
    container_name: dynamodb-local
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ./data"
    ports:
      - "8000:8000"
    volumes:
      - "./docker/dynamodb:/home/dynamodblocal/data"
    working_dir: /home/dynamodblocal
    networks:
      - dynamodb-net

  add-table:
    image: amazon/aws-cli
    depends_on:
      - dynamodb-local
    env_file: .env # ← 追加
    entrypoint: ["/bin/sh", "/init-tables.sh"]
    volumes:
      - "./docker/MessageTable.json:/tmp/MessageTable.json"
      - "./docker/SessionTable.json:/tmp/SessionTable.json"
      - "./docker/MessageCounterTable.json:/tmp/MessageCounterTable.json"
      - "./docker/CounterRangeTable.json:/tmp/CounterRangeTable.json"
      - "./docker/init-tables.sh:/init-tables.sh"
    networks:
      - dynamodb-net

  dynamodump:
    image: bchew/dynamodump
    working_dir: /app/dynamodb
    volumes:
      - ./dump:/app/dynamodb/dump:cached
      - $HOME/.aws:/root/.aws:ro
    environment:
      - AWS_PROFILE=${AWS_PROFILE}
    depends_on:
      - dynamodb-local
    networks:
      - dynamodb-net

  minio:
    image: "minio/minio"
    env_file: .env
    restart: always
    ports:
      - ${MINIO_EXPOSE_API_PORT:-9000}:9000
      - ${MINIO_EXPOSE_CONSOLE_PORT:-9001}:9001
    command: ["server", "/data", "--console-address", ":9001"]
    volumes:
      - ./docker/minio/data:/data
    networks:
      - minio-net
    healthcheck:
      test: ["CMD-SHELL", "curl -I http://localhost:9000/minio/health/live"]

  init-minio:
    image: "minio/mc:RELEASE.2025-04-16T18-13-26Z"
    env_file: .env
    volumes:
      - ./docker/init-minio.sh:/init-minio.sh
      - ./docker/minio/assets:/assets:cached
    entrypoint: ["/bin/sh", "/init-tables.sh"]
    depends_on:
      - minio
    networks:
      - minio-net
